/* Esta é uma folha de estilos CSS: ela adiciona na saída do programa  */


/* Valores calculados em negrito */

.resultado {
    font-weight: bold;
}


/* Para elemento com id="payment" */

#Fpagamento {
    text-decoration: underline;
}


/* O gráfico tem borda simples */

#grafico {
    border: solid black 1px;
}


/* Não centraliza células da tabela */

th,
td {
    vertical-align: top;
}