/* Esta é uma folha de estilos CSS: ela adiciona na saída do programa  */


/* Valores calculados em negrito */

.output {
    font-weight: bold;
}


/* Para elemento com id="payment" */

#payment {
    text-decoration: underline;
}


/* O gráfico tem borda simples */

#graph {
    border: solid black 1px;
}


/* Não centraliza células da tabela */

th,
td {
    vertical-align: top;
}

html,
body {
    height: 100%;
    background: linear-gradient(black, gray);
}

table {
    margin: 0 auto;
    width: 75%;
    height: 80%;
    background-color: white;
}

.titulo h1 {
    text-align: center;
    color: white;
}